$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;
$text-color-base: #444444;
$text-color-secondary:#ffffff;
$font-size: 14px;
$background-color-primary:#ffffff;
$background-color-secondary:#f2f2f2;
