.additional {
  min-width: 280px;
  padding: 25px 20px 20px;
}

.additional__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  position: relative;
}

.additional__title::before {
  content: "";
  background-color: #68b738;
  width: 34px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  right: -20px;
}

/*
@media (width >= 768px) {
  .additional__title {
    margin-bottom: 80px;
    margin-left: 40px;
    font-size: 32px;
    line-height: 32px;
  }

  .additional__title::before {
    width: 357px;
    right: -30px;
  }

  .additional__title::after {
    content: "";
    background-color: #68b738;
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: -70px;
  }
}
*/

.additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additional__name {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
}

.additional__gift {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-secondary;
  background-color: #68b738;
}
