.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $text-color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  background: #68b738;
  display: block;
  border: none;
}

